<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>{{ site.about }}</p>
            </div>

            <div class="col-sm-4">
              <h4>Contact</h4>
              <div>
                <ul class="social">
                  <li>
                     <a href="mailto:scateu@gmail.com"><i class="fa fa-envelope"></i> Mail </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-4">
              <img class="img-responsive" src="{{ "/assets/img/kang.jpg" | prepend: site.baseurl }}" />
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
